[Unit]
Description=Mount SCSI Drive on %i
[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/bin/scsi-mount.sh add %i
ExecStop=/usr/local/bin/scsi-mount.sh remove %i
